
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="grid">
    <form id="login-form" onsubmit="login()">
        <h1 id="login-title">Login</h1>
        <div class="item">
            <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username" />
            <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password" />
        </div>
        <input type="submit" value="Login" id="login-form-submit" class="btn-group-lg btn btn-primary"/>
    </form>
</div>
